@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Varela+Round&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, cupcake, emerald, corporate, synthwave;
}

:root {
  --purple: #9966f1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* Custom styles for components if needed */
.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}